
<div class="container p-3" >
  <p class="h4 mt-4 text-center" id="about">About</p>

<div class="media text-justify" >

    <img class="d-flex align-self-center mr-3 rounded" src="https://res.cloudinary.com/asiala/image/upload/v1623004673/20200304_162256-01_q1j2fu.jpg" height="90px" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="m-3 font-weight-bold" >Asia K., <i>Software Developer</i></h5>
      Welcome! My name is Asia. I'm so thrilled you decided to visit my software development portfolio.  Before discovering my passion for software development and UX/UI engineering, my career goals and interests were primarily focused around audio engineering, songwriting, event production, live performance, photography and professional organizing. 
    </div>
  </div>
</div>