
<div class="container p-3" >
  <p class="h4 mt-4 text-center" id="about">About</p>

<div class="media text-justify" >

    <img class="d-flex align-self-center mr-3 rounded" src="https://res.cloudinary.com/asiala/image/upload/v1623004673/20200304_162256-01_q1j2fu.jpg" height="90px" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="m-3 font-weight-bold" >Asia K., <i>Software Developer</i></h5>
      My goal is to build accessible, responsive, and progressive web applications designed with friendly front-end user interfaces. Before discovering my passion for software development and UX/UI engineering, I centered my career goals and interests primarily around audio engineering, songwriting, event production, live performance, photography, and professional organizing. However, since broadening my professional aims, I feel more confident about the value added to my audience, clients, and end-users. 
    </div>
  </div>
</div>