
<div class="container p-3" >
  <p class="h4 mt-4 text-center" id="about">About</p>

<div class="media text-justify" >

    <img class="d-flex align-self-top mr-3 rounded" src="https://res.cloudinary.com/asiala/image/upload/v1623004673/20200304_162256-01_q1j2fu.jpg" height="90px" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="m-3 font-weight-bold" >Asia K., <sup>UX/UI Designer / Software Engineer / Digital Strategist</sup></h5>
      <p>A life-long learner, I am inspired to continue learning about the history, current practices, and future trends impacting design thinking, build processes, and the software development life cycle. </p>

      <p>Transitioning into a tech career is a blessing. I'm grateful for the opportunity to integrate holistic approaches to UX/UI development and software engineering by drawing upon and unifying past professional experiences in the following fields.</p> 
<ul>      
     <li> audio/visual content creation</li>
     <li> event promotion</li>
     <li>graphic design</li> 
     <li> live performance</li>
     <li> project management</li>
     <li> street outreach</li>
     <li>photography</li> 
     <li> social media management</li>
     <li> wellness research</li> 
    </ul>


     <p> Based on the diversity of these accumulated experiences, I feel confident and enthusiastic about adding my perspective in creating user stories, conducting marketing research, and prototyping in collaboration with my team and stakeholders as we add value to our end users' experience.  </p>
      
<p>     I've made it my mission as a UX/UI developer to listen, research, and craft designs that pleasantly communicate the desired content. Furthermore, I will provide clients and their customers with accessible front-end user interfaces (UI) and a pleasant and easy user experience (UX).</p> 
  
  <p>In conclusion, I strive to contribute to simplifiying team collaboration through creating documentation and including comments that explain my code, test-driven development, and engineering loosely coupled code while implementing software solutions on the back-end and through middlewares.</p>    </div>
  </div>
</div>
