<p class="h4 mb-4 text-center" id="contact">Contact Me</p>

<div class="container"></div>

<!-- <div class="container p-3" id="contact">
<form id="contact" action="/sendemail" method="post" enctype ="multipart/form-data" name="contactform" class="text-center border border-light p-5" >

    <p class="h4 mb-4" >Contact Me</p>

    <input type="text" id="Name" name="name" class="form-control mb-4" placeholder="Name" required>

    <input type="email" name="email" id="Email" class="form-control mb-4" placeholder="E-mail" required>

    <input type="text" name="subject" id="Subject" class="form-control mb-4" placeholder="Subject" required>
   

    <div class="form-group">
        <textarea name="message" class="form-control rounded-0" id="Message" rows="3" placeholder="Message" required></textarea>
    </div> -->

    <!-- Copy -->
<!--     <div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div> 

    <button name="submit" class="btn btn-info btn-block"  id="contact-submit" type="submit">Send</button>

</form>
</div>
-->