<div class="container p-3" id="contact">
<!-- Default form contact -->
<form name="contactform" id="contact_me" class="text-center border border-light p-5" action="send" method="post" enctype ="multipart/form-data">

    <p class="h4 mb-4" >Contact Me</p>

    <!-- Name -->
    <input type="text" id="Name"  class="form-control mb-4" placeholder="Name" required>

    <!-- Email -->
    <input type="email" name="_email" id="Email" class="form-control mb-4" placeholder="E-mail" required>

    <!-- Subject -->
    <input type="text" name="_subject" id="Subject" class="form-control mb-4" placeholder="Subject" required>
   

    <!-- Message -->
    <div class="form-group">
        <textarea name="_message" class="form-control rounded-0" id="Message" rows="3" placeholder="Message" required></textarea>
    </div>

    <!-- Copy -->
<!--     <div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div> -->

    <!-- Send button -->
    <button class="btn btn-info btn-block" value="submit" id="send" type="submit">Send</button>

</form>
<!-- Default form contact -->
</div>