<p class="h4 m-4 text-center" id="samples">Project Samples</p>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="https://powerful-sierra-31601.herokuapp.com/">
      <img src="https://res.cloudinary.com/asiala/image/upload/v1623702413/create_music_j6fmew.png" alt="Make Music" width="600" height="400">
    </a>
    <div class="desc"><p class="text-justify">This is a React Single Page Application that allows the user to play tones. It uses Node.js, Create React App, and Tone.JS</p></div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="https://crypto-dashboard-deploy.herokuapp.com/">
      <img src="https://res.cloudinary.com/asiala/image/upload/v1623702791/watch_cryptos_v2nbxy.png" alt="watch cryptos" width="600" height="400">
    </a>
    <div class="desc"><p class="text-justify">Simple Frontend user interface that allows the user to select a cryptocurrency pair and view a chart showing the historical price up to the current real-time price. Backend uses websockets to maintain the connection to the API that provides the data.</p></div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="https://asiakay.github.io/react-redux-chakraui-todo-list-app/">
      <img src="https://res.cloudinary.com/asiala/image/upload/v1623703569/manage_todos_okwzsi.png" alt="Manage Todos" width="600" height="400">
    </a>
    <div class="desc"><p class="text-justify">React Redux todo list application, using react hooks, integrated with ChakraUI component library.</p>

    </div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="https://asialakay.net/the-asialakay-brand/">
      <img src="https://res.cloudinary.com/asiala/image/upload/v1623703914/asialakaydotnet_n7fwtk.png" alt="visit blog" width="600" height="400">
    </a>
    <div class="desc">This is a customized wordpress blog that provides the user access to perspectives on current events, developer resources, and upcoming event calender. 
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div style="padding:6px;">
  <p></p>
  <p></p>
</div>

 
 
 
 
 
 
 

    
       
    
    
  










     
   
   









