<p class="h4 m-4 text-center" id="samples">Project Samples</p>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="https://powerful-sierra-31601.herokuapp.com/">
      <img src="https://res.cloudinary.com/asiala/image/upload/v1623750030/create_music_x1556_biwphv.png" alt="Make Music" width="600px" height="400px">
    </a>
    <div class="desc text-justify"><h6>Make Music:</h6> is a Single Page Application that enables the user to make live music. On the front-end, it uses ReactJS. And on the back-end uses Node.js, and Tone.js, a web audio framework for creating interactive music in the browser.
  </div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="https://crypto-dashboard-deploy.herokuapp.com/">
      <img src="https://res.cloudinary.com/asiala/image/upload/v1623702791/watch_cryptos.gif" alt="watch cryptos" width="600px" height="400px">
    </a>
    <div class="desc text-justify"><h6>Watch Cryptos:</h6> is a Single Page Application that allows the user to 1) select a cryptocurrency pair and 2) view a chart that displays the historical price up to the current real-time price. The back-end uses WebSockets to maintain the connection to the API that provides the data.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="https://asiakay.github.io/react-redux-chakraui-todo-list-app/">
      <img src="https://res.cloudinary.com/asiala/image/upload/v1623703569/manage_todos_okwzsi.png" alt="Manage Todos" width="600px" height="400px">
    </a>
    <div class="desc text-justify"><h6>Nighttime Todos:</h6>is a to-do list application made for viewing at night. The front-end is built with React and implements the ChakraUI component library. On the back-end, it manages the state and status of each to-do item using React Hooks.

    </div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="https://asialakay.net/the-asialakay-brand/">
      <img src="https://res.cloudinary.com/asiala/image/upload/v1623703914/asialakaydotnet_n7fwtk.png" alt="visit blog" width="600px" height="400px">
    </a>
    <div class="desc text-justify"><h6>AsiaLAKAYdotnet Blog:</h6>is a customized WordPress blog that provides users with access to an updated event calendar, developer resources, and curated content centered around current events.
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div style="padding:6px;">
  <p></p>
  <p></p>
</div>

 
 
 
 
 
 
 

    
       
    
    
  










     
   
   









