<!-- Grid Cards from mdbootstrap.com https://mdbootstrap.com/docs/standard/components/cards/-->

<!-- <h5 class="mt-5"><i class="fas fa-mouse"></i>
  <i>Click Screenshots to View Recent Builds</i></h5> -->
<div class="row row-cols-1 row-cols-md-2 g-4 text-dark text-start mt-4">
    <div class="col">
<!-- Card 1 -->
<%- include('../partials/_make_music'); %>




      <!-- <div class="card">
        <a href="https://powerful-sierra-31601.herokuapp.com/">
        <img
          src="https://res.cloudinary.com/asiala/image/upload/v1622973188/first-tone_hh5bdx.jpg"
          class="card-img-top"
          alt="Play a melody"
        />
      </a>
        <div class="card-body">
          <h5 class="card-title">Make Music</h5>
          <p class="card-text">
            This is a React Single Page Application that allows the user to play tones. It uses Node.js, Create React App, and Tone.JS </p>
        </div>
      </div> -->
    </div>
    <div class="col">
      <!-- Card 2 -->
      <%- include('../partials/_watch_cryptos'); %>


     <!--  <div class="card">
        <a href="https://crypto-dashboard-deploy.herokuapp.com/">
        <img
          src="https://res.cloudinary.com/asiala/image/upload/v1622973190/crypto-dashboard_tnxpuj.jpg"
          class="card-img-top"
          alt="Watch Cryptos"
        />
        </a>
        <div class="card-body">
          <h5 class="card-title">Watch Cryptos</h5>
          <p class="card-text">
            This is a React Single Page Application that allows the user to select a cryptocurrency pair and view it's historical and realtime movement 
          </p>
        </div>
      </div> -->
    </div>
    <div class="col">
      <!-- Card 3 -->
      <%- include('../partials/_make_todos'); %>



      <!-- <div class="card">
        <a href="https://asiakay.github.io/react-redux-chakraui-todo-list-app/">
        <img
          src="https://res.cloudinary.com/asiala/image/upload/v1622969880/chakra-ui-react_xh03bp.jpg"
          class="card-img-top"
          alt="Manage Todos"
        />
      </a>
        <div class="card-body">
          <h5 class="card-title">Manage Todos</h5>
          <p class="card-text">
            This is a react redux application that allows the user to enter todo's, cross them off as complete, and check the status of remaining todo items. The user interface implements the chakra ui component library.
          </p>
        </div>
      </div> -->
    </div>
    <div class="col">
      <!-- Card 4 -->
      <%- include('../partials/_visit_blog'); %>

      <!-- <div class="card">
        <a href="https://www.asialakay.net">
        <img
          src="https://res.cloudinary.com/asiala/image/upload/v1623123204/asialakaydotnet_hmisbg.jpg"
          class="card-img-top"
          alt="Visit asiaLAKAY.net"
        />
      </a>
        <div class="card-body">
          <h5 class="card-title">Visit asiaLAKAY.net</h5>
          <p class="card-text">
            This is a customized wordpress blog that allows the user to gain info on current events from my perspective and learn about a range of topics including of art, bitcoin, cloud storage, data analytics, software engineering and UX/UI. 
          </p>
        </div>
      </div> -->
    </div>
  </div>
 
  