
<meta charset="UTF-8">
<title>ux/ui | front-end | back-end | full-stack software developer</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Google Font  -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">

<!-- Material UI Roboto font-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

<!-- Material UI Font Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />



<!-- Material Design Bootstrap CDN HTML Links Start -->
<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">


<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css"
  rel="stylesheet"
/>

<!-- Material Design Bootstrap CDN HTML Links Start -->

<!-- Material Design Bootstrap CDN JS start -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"
></script>
<!-- Material Design Bootstrap CDN JS end -->


<!-- CSS & Scripts (loaded from CDN) -->
<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- JQuery  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
<!-- Cloudinary upload widget  -->
 <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<!-- Cloudinary media gallery widget -->
<script src="https://media-library.cloudinary.com/global/all.js" type="text/javascript"></script>

<!-- instantiating cloudinary core library -->
<script src="/lodash/lodash.js" type="text/javascript"></script>
<script src="/cloudinary-core/cloudinary-core.js" type="text/javascript"></script>

<!-- coders rank skills chart cdn link  -->
<script src="https://unpkg.com/@codersrank/skills-chart@0.9.20/codersrank-skills-chart.min.js"></script>
<!-- coders rank summary cdn  -->

<script src="https://unpkg.com/@codersrank/summary@0.9.20/codersrank-summary.min.js"></script>
 <style>
/* start of responsive max widths 
source: https://stackoverflow.com/a/17178084/13978364 */

    /* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
/* End of responsive max widths */

 /*  <!-- Responsive layout code start - makes the three columns stack on top of each other instead of next to each other
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
 /*  <!-- Responsive layout code end - makes the three columns stack on top of each other instead of next to each other --> */

 

* {
  box-sizing: border-box;
}
  body { 
      padding-top:50px; 
      font-family: 'Montserrat', sans-serif;      
      position: relative;
    }

.headermarquee {
  font-family: 'Lobster Two', cursive;
  font-size: 50pt;
}

.tabheader{
  font-family: 'Lobster Two', cursive;
  font-size: 25pt;
}



.navbar-brand-logo {
  font-family: 'Lobster Two', cursive;
  font-size: 50pt;
  margin: 0pt;
}


a.navbar-brand-logo {
  text-decoration: none;
  color: black;
}

.navbar .nav-link {
  color: #fff !important;
}

/* Style the header */
.header {
  background-color: black;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
.fab {color: white;}
a.fab {
  color: white;
  outline: none; 
}

a.fab:hover { color: white;

}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  /* height: 300px; Should be removed. Only for demonstration */
}


/* codersrank styling <--
 */
/* .codersrank-skills-chart {
  --legend-text-color: red;
  --legend-font-size: 12px;
  --font-family: Arial;	
  --chart-bg-color: black;
} */





/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* image gallery start */

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* image gallery end */


.send {
  color: #0073ac;

}


/* fetchDataAPI */
/* Set up general layout rules for outer containers. */
.contact-form,
.results {
  width: 90vw;
  max-width: 550px;
  margin: 8vh auto;
}



</style>

