<div class="jumbotron card card-image" style="background-image: url(https://res.cloudinary.com/asiala/image/upload/v1623085005/pexels-photo-7025670_dsvub2.jpg); margin-bottom: 0px;">
  <div class="text-white text-center py-1 px-4">
    <ul class="list-inline">
      <li class="list-inline-item">

<!-- Github -->
<a class=""  href="https://www.github.com/asiakay" role="">
  <i class="fab fa-github fa-2x"></i
></a>      
      </li>
<!-- Linkedin -->      
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/asia-%E2%80%9Casialakay%E2%80%9D-grady-669762b3/"><i class="fab fa-linkedin-in fa-2x"></i></a>

<!-- Twitter -->
      </li>
      <a href="https://www.twitter.com/asialakay"><li class="list-inline-item">
        <i class="fab fa-twitter fa-2x"></i></a>
      </li>

    </ul>
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong><span class="headermarquee">"We are tomorrow.<br>We are the builders of our dreams."</span></strong></h2>
      <p class="mx-5 mb-5">
        <p class="text-center mb-5">
<div class="container" style="width: 60%;">          
  <h4>Hi! My name is Asia. Welcome to my Software development portfolio.</h4> 
  
</div>

</p>        
    </div>
  </div>
</div>





