<div>
  <h5 class="text-center p-3">Click the screenshot to visit deployment</h5>

  <div class="card">
    <a href="https://powerful-sierra-31601.herokuapp.com/">
    <img
      src="https://res.cloudinary.com/asiala/image/upload/v1622973188/first-tone_hh5bdx.jpg"
      class="card-img-top"
      alt="Play a melody"
    />
  </a>
    <div class="card-body">
      <h5 class="card-title text-primary">Make Music</h5>
      <p class="card-text text-dark">
        This is a React Single Page Application that allows the user to play tones. It uses Node.js, Create React App, and Tone.JS </p>
    </div>
  </div>
</div>