<div class="">
  <h5 class="text-center p-3">Click the screenshot to visit deployment</h5>

    <a href="https://asiakay.github.io/react-redux-chakraui-todo-list-app/">
    <img
      src="https://res.cloudinary.com/asiala/image/upload/v1622969880/chakra-ui-react_xh03bp.jpg"
      class="card-img-top"
      alt="Manage Todos"
    />
  </a>
    <div class="card-body">
      <h5 class="card-title text-primary">Manage Todos</h5>
      <p class="card-text text-dark">
        This is a react redux application that allows the user to enter todo's, cross them off as complete, and check the status of remaining todo items. The user interface implements the chakra ui component library.
      </p>
    </div>
  </div>