<div class="">
  <h5 class="text-center p-3">Click the screenshot to visit deployment</h5>

        <a href="https://www.asialakay.net">
        <img
          src="https://res.cloudinary.com/asiala/image/upload/v1623123204/asialakaydotnet_hmisbg.jpg"
          class="card-img-top"
          alt="Visit asiaLAKAY.net"
        />
      </a>
        <div class="card-body">
          <h5 class="card-title text-primary">Visit Blog</h5>
          <p class="card-text text-dark">
            This is a customized wordpress blog that allows the user to gain info on current events from my perspective and learn about a range of topics including of art, bitcoin, cloud storage, data analytics, software engineering and UX/UI. 
          </p>
        </div>
      </div>