<div class="">
  <h5 class="text-center p-3">Click the screenshot to visit deployment</h5>

    <a href="https://crypto-dashboard-deploy.herokuapp.com/">
    <img
      src="https://res.cloudinary.com/asiala/image/upload/v1622973190/crypto-dashboard_tnxpuj.jpg"
      class="card-img-top"
      alt="Watch Cryptos"
    />
    </a>
    <div class="card-body">
      <h5 class="card-title text-primary">Watch Cryptos?</h5>
      <p class="card-text text-dark">
        This is a React Single Page Application that allows the user to select a cryptocurrency pair and view it's historical and realtime movement 
      </p>
    </div>
  </div>