<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://res.cloudinary.com/asiala/image/upload/v1623004673/20200304_162256-01_q1j2fu.jpg"
              class="rounded-circle"
              height="22"
              alt="Asia L. Grady"
              loading="lazy"
            />
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">contact</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">recent builds</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">resume & about</a>
            </li>
            <li>
                <a class="dropdown-item" href="#">resume & about</a>
              </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>