What if? 

- Bitcoin miners started a union?

Bitcoin Mining Council to report renewable energy usage(https://www.bbc.com/news/technology-57240090)

guy brings up ripple to say why bring up negativity 

----- 
naturla law of money 
positivist money 


"Bitcoin systems, not built for corruption. 
History unwritten unrepeated, a wealth. "

What's kept unknown, hodl hodl 
bet on us + the power of our minds

How Bitcoin ownership compares to propery ownership? (article)

----- 


Ray - Paxil Campus tour?
Africa is leading global bitcoion adoption what lead to that?

Everybody has been scammed, that fueld adoption 
sending an recieving money without crazy fees
making profit with arbitrage 

"swiss army knife for money"



-------

"Bitcoin is teaching us how to save again." (Insert save that money video clip
)

ivan soto with 



Bitcoin systems, not built for corruption. 
History unwritten unrepeated, a wealth. 

What's kept unknown, hodl hodl 
bet on us + the power of our minds

----------------

Earn Stacks 
Ligthning labs are building on the usecases in emerging marketins


twitch plugin to recieve sats on lightening network 

Bitcoin is:

the "swiss army knife for money" - Ray Youssef




----- What it takes to build a movement? (watch video)

galaxy hiring bitcoin 



Types of categories of crypto 



smg6/KRe':>4-!Y`


https://algorithmia.com/developers/algorithm-development/your-first-algo

What percent bitcoin and what percent gold to invest for store of value?


https://atozmarkets.com/news/how-trade-cryptocurrency-mt4/


"No one runs it and everybody can join in." -

12:40:00 PM ET: Making Bitcoin's Infrastructure Ubiquitous - Mike Novogratz, Charles Cascarilla.


Fighting blockchain and crypto patent trolls 
opencryptoalliance.org 

elliptic curve Cryptography 

<header id="showcase">
      <div style="width: 100%; text-align: justify;"><h1>Welcome to ASIALAKAY.NET</h1>
      <p style="margin-bottom: 50px;">Art | Bitcoin | Community | DevOps | </p>
      <button id="upload_widget" class="cloudinary-button">Upload files</button>


      <a href="#" class="button">Under Construction</a></div>
      </header>

      https://images.squarespace-cdn.com/content/v1/5aa9be92f8370a24714de593/1535942597162-DQMCKV7VEZTD32I6Q79O/ke17ZwdGBToddI8pDm48kKmw982fUOZVIQXHUCR1F55Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpx7krGdD6VO1HGZR3BdeCbrijc_yIxzfnirMo-szZRSL5-VIQGAVcQr6HuuQP1evvE/Inequality.png?format=1500w

      arival.com arival bank 


      bitcoin car strike contributing open source funding 
      square crypto 


      <div class="icon-bar">

<!-- codetrace dot com analyzer badge -->


  <!-- <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> -->
  <!-- <a href="https://www.twitter.com/asialakay" class="email"><i class="fa fa-envelope-o"></i></a> -->
  <!-- <a href="#" class="google"><i class="fa fa-google"></i></a> -->
  <a href="https://www.linkedin.com/in/asia-%E2%80%9Casialakay%E2%80%9D-grady-669762b3/" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <!-- <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> -->
  <a href="https://www.github.com/asiakay" class="github"><i class="fa fa-github-square"></i></a>
  <a href="https://www.twitter.com/asialakay" class="twitter"><i class="fa fa-twitter"></i></a>
  
  <a href="https://codetrace.com/users/asiakay"><img src="https://codetrace.com/widget/asiakay" width="220" height="50" /></a>

OK Coin 

 


</div>





Money for devs and open source projects 

brink fellowship 
brink.dev 

open sats .org

bitcoin devlist 

--- 

btt pay 

problem: difficulty building a bitcoin wallet 
blue wallet - non custodial - how to do it on mobile 

LDK - Lightneting development toolkit 
helps dev's scale 

examples who use ldk 
shinx. dapp 



---

